-- HUB RH - RLS por cargo
-- Projeto Supabase: nblfwesptlpetbwfmdqf
--
-- Modelo:
-- - anon: apenas fluxos publicos controlados.
-- - RH: acesso total as tabelas internas do HUB.
-- - Gerente: chat em geral-gerentes e DMs proprias.
-- - Caixa/Crediarista: chat em geral-caixa e DMs proprias.
--
-- Observacao: para o cargo funcionar, cada usuario do Auth precisa ter um
-- perfil em public.hub_users com email igual ao email do Auth e cargo definido.

alter table if exists public.hub_denuncias enable row level security;
alter table if exists public.hub_chat_messages enable row level security;
alter table if exists public.hub_malotes enable row level security;
alter table if exists public.hub_chamados enable row level security;
alter table if exists public.hub_vagas enable row level security;
alter table if exists public.hub_eventos enable row level security;
alter table if exists public.hub_candidaturas enable row level security;
alter table if exists public.hub_users enable row level security;

alter table if exists public.hub_users
add column if not exists email text;

alter table if exists public.hub_users
alter column senha drop not null;

update public.hub_users
set senha = null
where senha is not null;

create unique index if not exists hub_users_email_key
on public.hub_users (lower(email))
where email is not null;

create schema if not exists app_private;
revoke all on schema app_private from public;
grant usage on schema app_private to authenticated;

create or replace function app_private.hub_normalize(value text)
returns text
language sql
stable
as $$
  select lower(regexp_replace(coalesce(value, ''), '[^a-zA-Z0-9]+', '-', 'g'));
$$;

create or replace function app_private.hub_current_user_email()
returns text
language sql
stable
as $$
  select lower(coalesce(auth.jwt() ->> 'email', ''));
$$;

create or replace function app_private.hub_current_user_name()
returns text
language sql
stable
security definer
set search_path = public
as $$
  select coalesce(
    (
      select u.nome
      from public.hub_users u
      where lower(u.email) = app_private.hub_current_user_email()
      limit 1
    ),
    auth.jwt() ->> 'email',
    ''
  );
$$;

create or replace function app_private.hub_current_user_role()
returns text
language sql
stable
security definer
set search_path = public
as $$
  select lower(coalesce(
    auth.jwt() -> 'app_metadata' ->> 'cargo',
    (
      select u.cargo
      from public.hub_users u
      where lower(u.email) = app_private.hub_current_user_email()
      limit 1
    ),
    ''
  ));
$$;

create or replace function app_private.hub_is_rh()
returns boolean
language sql
stable
as $$
  select app_private.hub_current_user_role() = 'rh';
$$;

create or replace function app_private.hub_is_manager()
returns boolean
language sql
stable
as $$
  select app_private.hub_current_user_role() in ('gerente', 'manager');
$$;

create or replace function app_private.hub_is_cashier()
returns boolean
language sql
stable
as $$
  select app_private.hub_current_user_role() in ('caixa', 'crediarista');
$$;

create or replace function app_private.hub_can_access_chat_channel(channel_id text)
returns boolean
language sql
stable
as $$
  select
    app_private.hub_is_rh()
    or (
      app_private.hub_is_manager()
      and (
        channel_id = 'geral-gerentes'
        or (
          channel_id like 'dm:%'
          and channel_id like ('%' || app_private.hub_normalize(app_private.hub_current_user_name()) || '%')
        )
      )
    )
    or (
      app_private.hub_is_cashier()
      and (
        channel_id = 'geral-caixa'
        or (
          channel_id like 'dm:%'
          and channel_id like ('%' || app_private.hub_normalize(app_private.hub_current_user_name()) || '%')
        )
      )
    );
$$;

grant execute on all functions in schema app_private to authenticated;

drop policy if exists "hub_denuncias_authenticated_all" on public.hub_denuncias;
drop policy if exists "hub_chat_messages_authenticated_all" on public.hub_chat_messages;
drop policy if exists "hub_malotes_authenticated_all" on public.hub_malotes;
drop policy if exists "hub_chamados_authenticated_all" on public.hub_chamados;
drop policy if exists "hub_vagas_authenticated_all" on public.hub_vagas;
drop policy if exists "hub_eventos_authenticated_all" on public.hub_eventos;
drop policy if exists "hub_candidaturas_authenticated_all" on public.hub_candidaturas;
drop policy if exists "hub_users_authenticated_all" on public.hub_users;

drop policy if exists "hub_denuncias_rh_all" on public.hub_denuncias;
drop policy if exists "hub_chat_messages_role_select" on public.hub_chat_messages;
drop policy if exists "hub_chat_messages_role_insert" on public.hub_chat_messages;
drop policy if exists "hub_chat_messages_rh_update" on public.hub_chat_messages;
drop policy if exists "hub_chat_messages_rh_delete" on public.hub_chat_messages;
drop policy if exists "hub_malotes_rh_all" on public.hub_malotes;
drop policy if exists "hub_chamados_rh_all" on public.hub_chamados;
drop policy if exists "hub_vagas_rh_all" on public.hub_vagas;
drop policy if exists "hub_eventos_rh_all" on public.hub_eventos;
drop policy if exists "hub_candidaturas_rh_all" on public.hub_candidaturas;
drop policy if exists "hub_users_authenticated_select" on public.hub_users;
drop policy if exists "hub_users_rh_write" on public.hub_users;
drop policy if exists "hub_users_self_update" on public.hub_users;

create policy "hub_denuncias_rh_all"
on public.hub_denuncias
for all
to authenticated
using (app_private.hub_is_rh())
with check (app_private.hub_is_rh());

create policy "hub_chat_messages_role_select"
on public.hub_chat_messages
for select
to authenticated
using (app_private.hub_can_access_chat_channel(canal));

create policy "hub_chat_messages_role_insert"
on public.hub_chat_messages
for insert
to authenticated
with check (app_private.hub_can_access_chat_channel(canal));

create policy "hub_chat_messages_rh_update"
on public.hub_chat_messages
for update
to authenticated
using (app_private.hub_is_rh())
with check (app_private.hub_is_rh());

create policy "hub_chat_messages_rh_delete"
on public.hub_chat_messages
for delete
to authenticated
using (app_private.hub_is_rh());

create policy "hub_malotes_rh_all"
on public.hub_malotes
for all
to authenticated
using (app_private.hub_is_rh())
with check (app_private.hub_is_rh());

create policy "hub_chamados_rh_all"
on public.hub_chamados
for all
to authenticated
using (app_private.hub_is_rh())
with check (app_private.hub_is_rh());

create policy "hub_vagas_rh_all"
on public.hub_vagas
for all
to authenticated
using (app_private.hub_is_rh())
with check (app_private.hub_is_rh());

create policy "hub_eventos_rh_all"
on public.hub_eventos
for all
to authenticated
using (app_private.hub_is_rh())
with check (app_private.hub_is_rh());

create policy "hub_candidaturas_rh_all"
on public.hub_candidaturas
for all
to authenticated
using (app_private.hub_is_rh())
with check (app_private.hub_is_rh());

create policy "hub_users_authenticated_select"
on public.hub_users
for select
to authenticated
using (true);

create policy "hub_users_rh_write"
on public.hub_users
for all
to authenticated
using (app_private.hub_is_rh())
with check (app_private.hub_is_rh());

create policy "hub_users_self_update"
on public.hub_users
for update
to authenticated
using (lower(email) = app_private.hub_current_user_email())
with check (lower(email) = app_private.hub_current_user_email());

-- Policies publicas esperadas.
drop policy if exists "hub_denuncias_public_insert" on public.hub_denuncias;
drop policy if exists "hub_chamados_public_insert" on public.hub_chamados;
drop policy if exists "hub_candidaturas_public_insert" on public.hub_candidaturas;
drop policy if exists "hub_vagas_public_select_open" on public.hub_vagas;

create policy "hub_denuncias_public_insert"
on public.hub_denuncias
for insert
to anon
with check (true);

create policy "hub_chamados_public_insert"
on public.hub_chamados
for insert
to anon
with check (coalesce(status, 'Aberto') = 'Aberto');

create policy "hub_candidaturas_public_insert"
on public.hub_candidaturas
for insert
to anon
with check (true);

create policy "hub_vagas_public_select_open"
on public.hub_vagas
for select
to anon
using (status = 'Aberta');
