-- HUB RH - verificacao de RLS
-- Rode no Supabase SQL Editor.

-- 1) Todas as tabelas HUB devem estar com RLS ativo.
select
  tablename,
  rowsecurity as rls_enabled
from pg_tables
where schemaname = 'public'
  and tablename like 'hub_%'
order by tablename;

-- 2) Policies atuais das tabelas HUB.
select
  tablename,
  policyname,
  roles,
  cmd,
  qual,
  with_check
from pg_policies
where schemaname = 'public'
  and tablename like 'hub_%'
order by tablename, policyname;

-- 3) Policies antigas amplas nao devem existir.
-- Esperado: zero linhas.
select
  tablename,
  policyname
from pg_policies
where schemaname = 'public'
  and tablename like 'hub_%'
  and policyname like '%authenticated_all%'
order by tablename, policyname;

-- 4) Perfis sem email nao conseguem resolver cargo via public.hub_users.
-- Esperado: zero usuarios sem email.
select
  count(*) as total_users,
  count(*) filter (where email is null or btrim(email) = '') as users_without_email,
  count(*) filter (where cargo is null or btrim(cargo) = '') as users_without_cargo
from public.hub_users;

-- 5) Policies anonimas internas perigosas nao devem existir.
-- Esperado: zero linhas.
select
  tablename,
  policyname,
  cmd
from pg_policies
where schemaname = 'public'
  and tablename in (
    'hub_denuncias',
    'hub_chat_messages',
    'hub_malotes',
    'hub_chamados',
    'hub_eventos',
    'hub_candidaturas',
    'hub_users'
  )
  and 'anon' = any(roles)
  and cmd in ('SELECT', 'UPDATE', 'DELETE', 'ALL')
order by tablename, policyname;
